<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @user.filename %>
  <br/>
  <%= image_tag icon_user_path(@user) %>
  <%= video_tag icon_user_path(@user) %>
  <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="0.4167">
     <video>
        <source type="video/mp4" src=<%= icon_user_path(@user) %>>
     </video>
  </div>
</p>

<p>
  <strong>Icon content type:</strong>
  <%= @user.icon_content_type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
