<script>
$(document).ready(function(){
    function playVideo(){
        var player = flowplayer($('#theVideo'));
        player.play();
    }
    setTimeout(playVideo,10);
});
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @user.filename %>
  <br/>
  <img src="/<%= @user.icon_path %>">
  <!-- <%= video_tag icon_user_path(@user) %> -->
  <div class="flowplayer" id="theVideo">
     <video preload="none" autoplay>
        <source type="video/webm" src="/<%= @user.icon_path %>">
        <source type="video/mp4" src="/<%= @user.icon_path %>">
     </video>
  </div>
</p>

<p>
  <strong>Icon content type:</strong>
  <%= @user.icon_content_type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
